
@font-face {
    font-family: 'kumbhLight';
    src: url('../../assets/fonts/KumbhSans-Light.ttf');
}


@font-face {
    font-family: 'kumbhBold';
    src: url('../../assets/fonts/KumbhSans-Bold.ttf');
}


@font-face {
    font-family: 'kumbhRegular';
    src: url('../../assets/fonts/KumbhSans-Regular.ttf');
}


$font-s: 16px;